<section class="text-white relative h-[100vh] bg-cover bg-center" style="background-image: url(''); background-position: 0px 0px; background-repeat: no-repeat;">
        <div class="absolute inset-0" style="background: linear-gradient(to right, black 0%, black 50%, transparent 75%);"></div>
        <div class="w-1/2 absolute h-[100vh] flex flex-col justify-center px-12 bg-black">
    <h1 class="text-5xl font-extrabold leading-tight tracking-wider mb-6">
      Heading
    </h1>
    <p class="text-lg mb-8">
      Text
    </p>
    <a href="#"
       class="bg-red-600 hover:bg-white hover:text-black text-black font-medium py-3 px-6 rounded-lg w-fit">
      Button
    </a>
  </div>
    </section>